body {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  border: 1px solid black;
  padding-left: 40vw;
  }

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  }

.nav-bar li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: .05px solid darkgray;
  border-radius: 50px;
  list-style: none;
}

.nav-links {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  color: #212529;
}

.nav-bar li:hover {
  background-color: #212529;
}

.nav-links:hover {
  color: white;
}

.nav-links:active {
  color: gray;
}

.nav-bar li:active {
  background-color: white;
}

.personal-info {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 5px 20px;
}

.personal-info label, input, span {
  padding: 0 10px;
}

#weight, #height {
  width: 30px;
}

#feet, #inches {
  width: 20px;
}

button {
  background-color: lime;
  border: 1px solid darkgreen;
  border-radius: 25px;
  font-size: 1.2rem;
  padding: 5px 15px;
}

button:hover {
  background-color: white;
  color: darkgreen;
}

button:focus {
  background-color: lime;
  border: 1px solid darkgreen;
}